# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user



.DS_Store
*.pro.user
*.exe
*.qm
*.dll
*.7z
build/
.build/
install/
Thumbs.db
CMakeLists.txt.user
.kdev4/
*.kdev4
.directory

doc/sloccount.sc
doc/api
doc/pmd.xml
doc/coverage
doc/coverage.xml
doc/cppcheck.xml
